# Ondřej Janek: Ondra J.#0489

## Knihovny a vytvoření dataframe

In [200]:
!pip install pymysql
!pip install h3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: h3 in /usr/local/lib/python3.7/dist-packages (3.7.4)

In [201]:
from sqlalchemy import create_engine
import pandas as pd
import pymysql
import altair as alt
from itertools import combinations
import h3
import plotly.express as px

In [202]:
engine = create_engine("mysql+pymysql://data-student:u9AB6hWGsNkNcRDm@data.engeto.com:3306/data_academy_04_2022")
query = 'SELECT * FROM edinburgh_bikes'

df = pd.read_sql(sql = query, con = engine)

In [203]:
df.head()

,index,started_at,ended_at,duration,start_station_id,start_station_name,start_station_description,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_description,end_station_latitude,end_station_longitude
0,0,2018-09-15 08:52:05,2018-09-15 09:11:48,1182,247,Charlotte Square,North Corner of Charlotte Square,55.952335,-3.207101,259,St Andrew Square,North East corner,55.954728,-3.192653
1,1,2018-09-15 09:24:33,2018-09-15 09:41:09,995,259,St Andrew Square,North East corner,55.954749,-3.192774,262,Canonmills,near Tesco's,55.962804,-3.196284
2,2,2018-09-15 09:48:54,2018-09-15 10:46:40,3466,262,Canonmills,near Tesco's,55.962804,-3.196284,250,Victoria Quay,Entrance to Scottish Government Office,55.977638,-3.174116
3,3,2018-09-16 12:01:36,2018-09-16 12:25:26,1430,255,Kings Buildings 4,X-Y Cafe,55.922001,-3.176902,254,Kings Building 3,Kings Building House,55.923479,-3.175385
4,4,2018-09-16 12:03:43,2018-09-16 12:11:16,452,255,Kings Buildings 4,X-Y Cafe,55.922001,-3.176902,253,Kings Building 2,Sanderson Building,55.923202,-3.171646

In [204]:
df.tail()

,index,started_at,ended_at,duration,start_station_id,start_station_name,start_station_description,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_description,end_station_latitude,end_station_longitude
438254,12636,2021-06-30 23:30:31,2021-07-01 00:06:10,2139,1090,Hillside Crescent,East end of Hillside Crescent,55.957872,-3.175888,1728,Portobello - Kings Road,Foot of Kings Road next to the promenade,55.957915,-3.118332
438255,12637,2021-06-30 23:36:16,2021-07-01 00:05:40,1763,1814,Abbeyhill,Near Abbey Mount,55.955248,-3.172216,1728,Portobello - Kings Road,Foot of Kings Road next to the promenade,55.957915,-3.118332
438256,12638,2021-06-30 23:49:03,2021-07-01 00:11:25,1342,256,St Andrews House,beside Jacobs ladder,55.953164,-3.181682,1091,Holyrood Road,Opposite St Leonards Land,55.949560,-3.180413
438257,12639,2021-06-30 23:49:03,2021-07-01 00:11:52,1369,256,St Andrews House,beside Jacobs ladder,55.953164,-3.181682,1091,Holyrood Road,Opposite St Leonards Land,55.949560,-3.180413
438258,12640,2021-06-30 23:58:33,2021-07-01 00:07:15,522,247,Charlotte Square,North Corner of Charlotte Square,55.952335,-3.207101,1769,Brunswick Place,Corner of Elm Row/Brunswick Street,55.960852,-3.180986

In [205]:
df.describe()

,index,duration,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude
count,438259.000000,4.382590e+05,438259.000000,438259.000000,438259.000000,438259.000000,438259.000000,438259.000000
mean,9043.264173,1.948838e+03,924.245437,55.950637,-3.196594,969.345296,55.952541,-3.195375
std,7439.180828,5.657135e+03,670.164348,0.013559,0.039447,676.762599,0.015868,0.042084
min,0.000000,6.100000e+01,171.000000,55.908404,-3.407156,171.000000,53.395525,-3.407156
25%,3252.000000,6.240000e+02,260.000000,55.940238,-3.207964,262.000000,55.941791,-3.208070
50%,7127.000000,1.163000e+03,1019.000000,55.947600,-3.192444,1024.000000,55.951501,-3.191862
75%,12467.000000,2.529000e+03,1728.000000,55.959407,-3.180986,1737.000000,55.962537,-3.176351
max,31397.000000,2.363348e+06,2268.000000,55.992957,-3.058307,2268.000000,55.992957,-2.990138

In [206]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438259 entries, 0 to 438258
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   index                      438259 non-null  int64
 1   started_at                 438259 non-null  object
 2   ended_at                   438259 non-null  object
 3   duration                   438259 non-null  int64
 4   start_station_id           438259 non-null  int64
 5   start_station_name         438259 non-null  object
 6   start_station_description  435549 non-null  object
 7   start_station_latitude     438259 non-null  float64
 8   start_station_longitude    438259 non-null  float64
 9   end_station_id             438259 non-null  int64
 10  end_station_name           438259 non-null  object
 11  end_station_description    435256 non-null  object
 12  end_station_latitude       438259 non-null  float64
 13  end_station_longitude      438259 non-null  float64
dtypes: float64(4), int64(4), object(6)
memory usage: 46.8+ MB

In [207]:
df.columns.tolist()

['index',
 'started_at',
 'ended_at',
 'duration',
 'start_station_id',
 'start_station_name',
 'start_station_description',
 'start_station_latitude',
 'start_station_longitude',
 'end_station_id',
 'end_station_name',
 'end_station_description',
 'end_station_latitude',
 'end_station_longitude']

## Identifikace  aktivních a neaktivních stanic

Jako neaktivní stanice jsem definoval ty, které nebyly použity poslední 2 měsíce.

In [208]:
df["started_at"] = pd.to_datetime(df["started_at"])
df["ended_at"] = pd.to_datetime(df["ended_at"])

In [209]:
df['ended_at'].max()

Timestamp('2021-07-01 00:20:36')

In [210]:
# Počet stanic v celém dataframu
len(df['end_station_id'].unique())

199

In [211]:
# Počet aktivních stanic za poslední 2 měsíce
df_active = df[df['ended_at'] >= '2021-05-01 00:20:36']
len(df_active['end_station_id'].unique())

88

In [212]:
# Aktivní stanice
stations = list(df_active['end_station_id'].unique())
df_active_stations = df[df['end_station_id'].isin(stations)]
df_active_stations.drop_duplicates(subset='end_station_id')[['end_station_name','end_station_description']]

,end_station_name,end_station_description
0,St Andrew Square,North East corner
1,Canonmills,near Tesco's
2,Victoria Quay,Entrance to Scottish Government Office
3,Kings Building 3,Kings Building House
4,Kings Building 2,Sanderson Building
...,...,...
151363,Boroughmuir,Off Gibson Terrace
308367,Leith Walk North,Next to Allander House
322492,Musselburgh Lidl,Musselborough North High Street opposite Harbo...
328547,Musselburgh Brunton Hall,Adjacent to the Brunton Theatre
338871,Picady Place,Outside Omni Centre

In [213]:
# Neaktivní stanice
df_inactive_stations = df[~df['end_station_id'].isin(stations)]
df_inactive_stations.drop_duplicates(subset='end_station_id')[['end_station_name','end_station_description']]

              end_station_name                     end_station_description
16                  Portobello            Edinburgh Leisure Tumbles Centre
25            Launch Day Event                                 The Meadows
68             Brunswick Place       Junction Brunswick Street and Elm Row
138          Kings Buildings 4                                    X-Y Cafe
178              Victoria Park                         Near Craighall Road
...                        ...                                         ...
167741   Ingliston Park & Ride           Next to Customer Service building
168167       Port Edgar Marina          Next to Marina Shop and Restaurant
168194         Tesco Ferrymuir                         Outside supermarket
169248         Scotstoun House                              ARUP Edinburgh
170340  Edinburgh Park Central  Between Lochside Court and Lochside Avenue

[111 rows x 2 columns]

## Identifikace nejfrekventovanějších stanic

In [214]:
# Funkce bere jako argumenty dataframe a název sloupce. 
# Vrací DF se stanicemi a počtem výpujček nebo vrácení.
# Místo dataframe může vrátit i graf.
def count_stations(dataframe,column_name, graph = 'no'):
  dataframe['rents_num'] = dataframe.groupby(dataframe[column_name])[column_name].transform('count')
  df_frequent = dataframe[[column_name,column_name[:-3]+'_name','rents_num']]
  df_frequent = df_frequent.sort_values(by= 'rents_num', ascending= False).drop_duplicates(subset=column_name)
  if graph == 'no':
    return df_frequent
  elif graph == 'yes':
    return alt.Chart(df_frequent.head(10), title='The busiest stations').mark_bar(size=16).encode(
              x=alt.X('rents_num:Q', title='Number of rents'),
              y=alt.Y(column_name[:-3]+'_name:O', title='Stations', sort= '-x'),
              tooltip=[alt.Tooltip(column_name[:-3]+'_name:O', title="Station name"),
                       alt.Tooltip('rents_num:Q', title="Number of rents")]
          ).properties(height=300)

count_stations(df,'start_station_id')

,start_station_id,start_station_name,rents_num
394149,265,Meadows East,17390
25573,248,Bristo Square,12846
236410,259,St Andrew Square,12218
274073,1728,Portobello - Kings Road,11843
401169,1024,Meadow Place,11373
...,...,...,...
77090,299,Depot Virtual,3
98485,1057,Pleasance - Edinburgh University Sports Fair,2
1686,241,Depot,2
122062,1740,Cycling Scotland Conference,1
158413,1857,City Chambers Launch Station,1

In [215]:
count_stations(df,'end_station_id', graph='yes')

alt.Chart(...)

In [216]:
# Získej počáteční a konečné stanice
df_start = count_stations(df,'start_station_id')
df_end = count_stations(df,'end_station_id')

In [217]:
# Průnik 10 nejfrekventovanějších počátečních a konečných stanic
df_intersected = df_start.head(10).merge(df_end.head(10),
                                         left_on='start_station_name',
                                         right_on='end_station_name')[['start_station_name', 'rents_num_x', 'rents_num_y']]

pd.DataFrame(df_intersected).rename(columns={'rents_num_x':'as_start_station',
                                             'rents_num_y':'as_end_station',
                                             'start_station_name':'station_name'})

              station_name  as_start_station  as_end_station
0             Meadows East             17390           15225
1         St Andrew Square             12218            8372
2  Portobello - Kings Road             11843           16656
3             Meadow Place             11373            8792
4            Victoria Quay             10662           15254
5               Canonmills              9551           11940
6          Waverley Bridge              8569            8402

In [218]:
# Nejfrekventovanější stanice podle celkové sumy výpůjček a vrácení
df_sum = df_start.merge(df_end, 
                        left_on='start_station_name', 
                        right_on='end_station_name')[['start_station_name', 'rents_num_x', 'rents_num_y']]

df_sum['rents_sum'] = df_sum['rents_num_y'] + df_sum['rents_num_x']
df_sum = df_sum.sort_values(by='rents_sum', ascending=False).rename(columns={'start_station_name':'station_name',
                                                                    'rents_num_y':'as_end_station',
                                                                    'rents_num_x':'as_start_station'}).head(10)
df_sum

               station_name  as_start_station  as_end_station  rents_sum
0              Meadows East             17390           15225      32615
3   Portobello - Kings Road             11843           16656      28499
8             Victoria Quay             10662           15254      25916
9                Canonmills              9551           11940      21491
1             Bristo Square             12846            7898      20744
2          St Andrew Square             12218            8372      20590
4              Meadow Place             11373            8792      20165
15               Leith Walk              7964           11052      19016
16              Duke Street              7288           11264      18552
12          Waverley Bridge              8569            8402      16971

In [219]:
# Vykreslení nejfrekventovanějších stanic na mapě
stations = df_sum['station_name'].tolist()

df_frequent_map =  df.loc[df['start_station_name'].isin(stations)].drop_duplicates('start_station_name')
fig = px.scatter_mapbox(df_frequent_map, lat="start_station_latitude", lon="start_station_longitude",
                                     hover_name="start_station_name", zoom=11, height=600)
fig.update_layout(mapbox_style="open-street-map")
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

## Stanice, na kterých se kola hromadí a stanice, kde potenciálně chybí

In [220]:
# Získání rozdílu mezi vypůjčenými a vrácenými koly
df_diff = df[['start_station_id', 'end_station_id']].apply(pd.Series.value_counts).reset_index()
df_diff.rename(columns={'start_station_id':'start_station_count',
                        'end_station_id'  :'end_station_count',
                        'index'           :'station_id'},
                         inplace = True)

df_diff['difference'] = df_diff['end_station_count'].fillna(0) - df_diff['start_station_count'].fillna(0)
df_diff = df_diff.merge(df, left_on='station_id',right_on='start_station_id').drop_duplicates('station_id')
df_diff = df_diff[['start_station_name','start_station_count','end_station_count','difference']].rename(
        columns={'start_station_name':'station_name'}).sort_values(by='difference',ascending=False)

df_diff

,station_name,start_station_count,end_station_count,difference
317018,Portobello - Kings Road,11843.0,16656.0,4813.0
57261,Victoria Quay,10662.0,15254.0,4592.0
421133,Duke Street,7288.0,11264.0,3976.0
190969,Leith Walk,7964.0,11052.0,3088.0
114177,Canonmills,9551.0,11940.0,2389.0
...,...,...,...,...
123728,Pollock Halls,9441.0,6628.0,-2813.0
14666,City Chambers,5836.0,2723.0,-3113.0
27817,Charlotte Square,8134.0,4980.0,-3154.0
92803,St Andrew Square,12218.0,8372.0,-3846.0
35951,Bristo Square,12846.0,7898.0,-4948.0

In [221]:
# Stanice na kterých se kola hromadí.
df_diff[df_diff['difference'] > 0][['station_name','difference']].sort_values(by='difference', ascending=False)

                                             station_name  difference
317018                            Portobello - Kings Road      4813.0
57261                                       Victoria Quay      4592.0
421133                                        Duke Street      3976.0
190969                                         Leith Walk      3088.0
114177                                         Canonmills      2389.0
...                                                   ...         ...
214200  Royal Highland Show - East Gate (19th to 23rd ...         2.0
23033                                               Depot         1.0
343016                        Cycling Scotland Conference         1.0
214171                   Corn Exchange - walk cycle event         1.0
199927                                            Novotel         1.0

[112 rows x 2 columns]

In [222]:
# Stanice na kterách kola chybí.
df_diff[df_diff['difference'] < 0][['station_name','difference']].sort_values(by='difference')

                                             station_name  difference
35951                                       Bristo Square     -4948.0
92803                                    St Andrew Square     -3846.0
27817                                    Charlotte Square     -3154.0
14666                                       City Chambers     -3113.0
123728                                      Pollock Halls     -2813.0
...                                                   ...         ...
243386  Holyrood Park - Woman's Tour Of Scotland (Even...        -1.0
214127                               West Newington Place        -1.0
428421                       City Chambers Launch Station        -1.0
186629                                     Gibson Terrace        -1.0
396142                                  Gamekeeper's Road        -1.0

[85 rows x 2 columns]

In [223]:
df_diff[df_diff['difference'] == 0][['station_name','difference']]

          station_name  difference
350930  Crescent House         0.0

## Vzdálenosti mezi jednotlivými stanicemi

In [224]:
# Vytváření DF s názvy stanic a zeměpisné šířky a délky
df_geo = df.drop_duplicates(subset = ['end_station_id'])
df_geo['station_name'] = df_geo['end_station_name'] + ', ' + df_geo['end_station_description']
df_geo.rename(columns={'end_station_latitude':'LAT','end_station_longitude':'LON'},inplace= True)

# Vytvoření všech možných kombinací stanic
df_geo = df_geo[['station_name','LAT','LON']]
df_combi_stations = pd.DataFrame(list(combinations(df_geo['station_name'], 2)),
                                 columns=['start_station', 'end_station'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [225]:
# Přiřazení start a end k LAT a LON ke kombinacím stanic
df_station_pairs = (df_combi_stations.join(df_geo.set_index('station_name').add_prefix('start_'), on='start_station')
                   .join(df_geo.set_index('station_name').add_prefix('end_'), on='end_station'))
df_station_pairs

,start_station,end_station,start_LAT,start_LON,end_LAT,end_LON
0,"St Andrew Square, North East corner","Canonmills, near Tesco's",55.954728,-3.192653,55.962804,-3.196284
1,"St Andrew Square, North East corner","Victoria Quay, Entrance to Scottish Government...",55.954728,-3.192653,55.977638,-3.174116
2,"St Andrew Square, North East corner","Kings Building 3, Kings Building House",55.954728,-3.192653,55.923479,-3.175385
3,"St Andrew Square, North East corner","Kings Building 2, Sanderson Building",55.954728,-3.192653,55.923202,-3.171646
4,"St Andrew Square, North East corner","Kings Buildings 1, Grant Institute",55.954728,-3.192653,55.924185,-3.173831
...,...,...,...,...,...,...
19696,"Leith Walk North, Next to Allander House","Musselburgh Brunton Hall, Adjacent to the Brun...",55.967918,-3.173586,55.944009,-3.058493
19697,"Leith Walk North, Next to Allander House","Picady Place, Outside Omni Centre",55.967918,-3.173586,55.956535,-3.186248
19698,"Musselburgh Lidl, Musselborough North High Str...","Musselburgh Brunton Hall, Adjacent to the Brun...",55.943880,-3.066754,55.944009,-3.058493
19699,"Musselburgh Lidl, Musselborough North High Str...","Picady Place, Outside Omni Centre",55.943880,-3.066754,55.956535,-3.186248
19700,"Musselburgh Brunton Hall, Adjacent to the Brun...","Picady Place, Outside Omni Centre",55.944009,-3.058493,55.956535,-3.186248

In [226]:
# Spočítání vzdálenosti mezi stanicemi na základě LAT a LON
df_station_pairs['Distance'] = df_station_pairs.apply(lambda row: h3.point_dist((row['start_LAT'],
                                                                                 row['start_LON']),
                                                                                (row['end_LAT'],
                                                                                 row['end_LON']),unit='km'), axis=1)

In [227]:
df_station_pairs[df_station_pairs['Distance'] > 0].sort_values(by='Distance')[['start_station','end_station','Distance']]

,start_station,end_station,Distance
11147,"Comely Bank Road, Between trees on Comely Bank...","Comely Bank Road, Outside Raeburn Place Sports...",0.000375
8622,"Morningside Road, Corner of Morningside Road &...","Morningside Road, Corner of Morningside Park, ...",0.000688
6735,"Warrender Park Road, Corner of Warrender Park ...","Warrender Park Road, On corner with Spottiswoo...",0.000691
9615,"Newhaven Road / Dudley Gardens, Corner of Dudl...","Dudley Gardens, Opposite Victoria Park on Newh...",0.001394
10724,"Cramond Foreshore, Cramond foreshore by turnin...","Cramond Foreshore, Near Cramond Beach",0.001457
...,...,...,...
9819,"Smarter Travel Station, The Street","Forth Bridge Visitors Centre, Off Ferrymuir Gait",289.463464
9816,"Smarter Travel Station, The Street","The Loan, Next to East Coast Tyres",289.667214
9821,"Smarter Travel Station, The Street","Hawes Pier, Off Newhalls Road",289.667322
9818,"Smarter Travel Station, The Street","Hopetoun Road, Junction with Farquhar Terrace/...",289.738466
9823,"Smarter Travel Station, The Street","Port Edgar Marina, Next to Marina Shop and Res...",290.060745

## Doba trvání jedné výpůjčky a odlehlé hodnoty.

In [228]:
# Směrodatná odchylka v minutách
df['duration'].std()/60

94.28557967168217

In [229]:
df['duration'].mean()/60

32.48063397823357

In [230]:
# Z dataframu jsem odstranil hodnoty, které byly větší než  směrodatná odchylka
df_duration = df[df['duration'] < df['duration'].std()]
df_duration['duration'] = round(df_duration['duration']/60,0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [231]:
# Průměrná doba výpůjčky 
df_duration['duration'].mean()

25.675834622826297

In [232]:
df_duration['rents_num'] = df_duration['duration'].groupby(df_duration['duration']).transform('count')
df_duration = df_duration[['duration', 'rents_num']].drop_duplicates().sort_values(by='rents_num', ascending=False)

# Nejvíce si lidé půjčují kola v rozmezí na 6 až 15 minut
df_duration.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     duration  rents_num
4         8.0      16761
23       10.0      16518
148       9.0      16224
25        7.0      15284
32       11.0      15221
41       12.0      14851
6         6.0      14146
47       13.0      13701
36       14.0      13216
45       15.0      11978

In [233]:
# Graf zobrazuje počet výpujček pro jednotlivé minuty
alt.Chart(df_duration, title='Time of rent').mark_bar(size=10).encode(
    x=alt.X('duration', title='Minutes'),
    y=alt.Y('rents_num', title='Number of rents'),
    tooltip=[alt.Tooltip('duration', title="Minute"), alt.Tooltip('rents_num', title='Number of rents')]
).properties(
    width=1200,
    height=300
)

alt.Chart(...)

In [234]:
# Top 10 nejodlehlejších hodnot
df_deviation = df
df_deviation.sort_values(by='duration',ascending= False).head(10)

,index,started_at,ended_at,duration,start_station_id,start_station_name,start_station_description,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_description,end_station_latitude,end_station_longitude,rents_num
12423,2130,2018-12-18 10:40:20,2019-01-14 19:09:28,2363348,341,Warrender Park Road,Corner of Warrender Park Road & Spottiswoode S...,55.938363,-3.198031,171,George Square,"George Square, south side in front of Universi...",55.943084,-3.188311,6160
141002,2206,2020-01-10 15:46:22,2020-01-22 14:40:21,1032838,247,Charlotte Square,North Corner of Charlotte Square,55.952335,-3.207101,1748,Colinton Road,Near Napier University Merchiston Campus,55.933416,-3.212397,1570
13026,2733,2018-12-22 19:39:49,2019-01-03 09:39:00,1000750,251,Waverley Station,Platform level near Calton Road Exit,55.952641,-3.187527,251,Waverley Station,Platform level near Calton Road Exit,55.952641,-3.187527,1473
161588,3445,2020-03-07 13:18:28,2020-03-15 16:04:37,701168,1756,Western General Hospital,Porterfield Road,55.963454,-3.232909,264,Pollock Halls,Pollock Halls Entrance,55.940081,-3.171747,6628
14913,766,2019-01-05 18:40:07,2019-01-13 18:00:39,688832,358,Leith Walk,Leith Walk opposite Dalmeny Street,55.965040,-3.176686,249,Fountainbridge,Fountainbridge by Gardner's Crescent,55.943357,-3.209248,7315
22162,3151,2019-02-23 12:35:31,2019-03-02 19:59:43,631452,252,Kings Buildings 1,Grant Institute,55.924185,-3.173831,265,Meadows East,Melville Terrace,55.939809,-3.182739,15225
3548,1322,2018-10-11 15:07:56,2018-10-17 10:14:44,500807,255,Kings Buildings 4,X-Y Cafe,55.922001,-3.176902,183,Waverley Bridge,near the top of the South ramp,55.951344,-3.191421,8402
3792,1566,2018-10-14 13:25:38,2018-10-19 17:32:12,446794,256,St Andrews House,beside Jacobs ladder,55.953164,-3.181682,256,St Andrews House,beside Jacobs ladder,55.953164,-3.181682,1957
28813,5579,2019-03-28 13:57:14,2019-04-02 10:26:40,419365,252,Kings Buildings 1,Grant Institute,55.924185,-3.173831,249,Fountainbridge,Fountainbridge by Gardner's Crescent,55.943357,-3.209248,7315
14437,290,2019-01-02 18:01:33,2019-01-06 16:15:29,339236,285,Ocean Terminal,Debenhams / Puregym entrance,55.981286,-3.176351,285,Ocean Terminal,Debenhams / Puregym entrance,55.981286,-3.176351,7381

## Ve kterou hodinu si lidé půjčíjí kola nejčastěji

In [ ]:
# Vytvoření DF s počtem výpůjček v hodinách přes den
query_hour = '''SELECT	HOUR(started_at) AS hour,
                        count(HOUR(started_at)) AS number_of_rents
                FROM edinburgh_bikes eb 
                GROUP BY hour(started_at)
             '''
df_hour = pd.read_sql(sql = query_hour, con  = engine)

In [236]:
# Z grafu vidíme, že nejvytíženější hodina je 16:00
# Můžeme se domnívat, že si lidé půjčují kola nejvíce když skončí v práci.
alt.Chart(df_hour, title='The busiest hour').mark_bar(size=20).encode(
    x=alt.X('hour', title='Hours'),
    y=alt.Y('number_of_rents', title='Number of rents'),
    tooltip=[alt.Tooltip('hour', title="Hour"), alt.Tooltip('number_of_rents', title="Number of rents")]
).properties(
    width=800,
    height=300
)

alt.Chart(...)

## Analýza poptávky v čase

In [237]:
df["started_at"] = pd.to_datetime(df["started_at"])
df["ended_at"] = pd.to_datetime(df["ended_at"])

In [238]:
# Dataset sem rozdělil do měsíců a spočítal pro každý měsíc počet výpůjček
# Z grafu vidíme, že si lidé půjčují kola nejvíc přes a jaro a léto, naopak na podzim začíná poptávka klesat
# Větší nárůst v roce 2020 mohl zapříčinit covid-19, kdy lidé omezovali městskou hromadnou dopravu
data_month = df.resample('M', on='started_at').index.count()

df_month = pd.DataFrame(data_month)
df_month.reset_index(inplace=True)
df_month.rename(columns={'started_at':'Started_date','index':'Number_of_rents'},inplace=True)


alt.Chart(df_month,title='Number of monthly rents').mark_bar(size=18).encode(
    x=alt.X('Started_date', title='Months'),
    y=alt.Y('Number_of_rents', title='Number of rents'),
    tooltip=[alt.Tooltip('Started_date', title="started_date"), alt.Tooltip('Number_of_rents', title="Number of rents")]
).properties(
    width=1000,
    height=300
)

alt.Chart(...)

## Vliv počasí na poptávku po kolech

In [239]:
query_weather = '''SELECT *
                   FROM edinburgh_weather ew 
                '''
df_weather = pd.read_sql(sql = query_weather, con = engine)
df_weather['date'] = pd.to_datetime(df_weather['date'])

In [240]:
# Vytvoření DF s denním počtem výpůjček a přídání názvů dnů
df_days = pd.DataFrame(df.resample('D', on='started_at').index.count())
df_days.reset_index(inplace=True)
df_days.rename(columns={'started_at':'date','index':'number_of_rents'},inplace=True)
df_days['name_of_day'] = df_days['date'].dt.day_name()
df_days = df_days[['date','name_of_day','number_of_rents']]

In [241]:
vis_dict = {'Excellent': 1, 'Good': 2,'Average': 3,'Poor': 4}
df_weather.replace({'vis': vis_dict}, inplace= True)

In [ ]:
# Převedené hodnot na numerické hodnoty
df_weather = (df_weather.replace(to_replace = ['°c','km/h','mm','%','mb','from','S','N','W','E'],
                                 value = '',
                                 regex= True))
cols = ['temp', 'feels', 'wind', 'gust', 'rain', 'humidity', 'cloud', 'pressure', 'vis']
df_weather[cols] = df_weather[cols].apply(pd.to_numeric)
df_weather.info()

In [243]:
# Zprůměrovaní hodnot na denní hodnoty
df_weather = df_weather.groupby('date')[cols].mean().reset_index()

In [244]:
df_day = df_days[['date','number_of_rents']]
df_corr = pd.merge(df_weather,df_day,on='date')
df_corr

,date,temp,feels,wind,gust,rain,humidity,cloud,pressure,vis,number_of_rents
0,2018-09-15,10.500,8.500,14.875,23.500,0.1250,83.875,58.125,1017.375,1.000,3
1,2018-09-16,12.875,10.625,26.500,43.125,0.1250,81.500,79.500,1008.875,1.000,10
2,2018-09-17,13.875,13.125,18.000,29.875,0.0250,83.000,66.125,1006.375,1.000,403
3,2018-09-18,14.125,13.500,16.875,28.500,0.2375,86.875,57.750,996.125,1.000,126
4,2018-09-19,11.750,8.625,34.750,55.625,0.3625,75.750,52.250,995.875,1.125,77
...,...,...,...,...,...,...,...,...,...,...,...
773,2020-10-27,7.125,4.625,15.250,22.375,0.1250,86.250,54.125,988.625,1.500,437
774,2020-10-28,7.250,3.500,24.500,34.000,0.1500,83.625,87.500,990.125,1.000,559
775,2020-10-29,6.750,5.250,16.875,26.625,1.2625,87.500,84.625,999.000,1.625,478
776,2020-10-30,10.500,8.125,20.500,28.625,0.0875,78.625,62.375,1006.875,1.375,774
777,2020-10-31,10.125,7.250,26.000,37.500,0.3500,80.750,82.875,997.375,1.750,523

In [245]:
# Korelace jednotlivých hodnot k výpujčkám.
# Pozitivní vliv má vyšší teplota, negativní vliv má vyšší vlhkost a náraz větru
df_corr.corr().loc[['number_of_rents'],cols]

,temp,feels,wind,gust,rain,humidity,cloud,pressure,vis
number_of_rents,0.527764,0.544356,-0.252143,-0.301494,-0.07102,-0.256341,-0.090445,0.148253,-0.094447

## Půjčují si lidé kola více o víkendu než během pracovního týdne?

In [246]:
# Lidé si půjčují kola více o víkendu než během pracovního týdne
days = [ 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
df_days = df_days.groupby(by=["name_of_day"]).sum().reindex(days).reset_index()
df_days

  name_of_day  number_of_rents
0      Monday            57949
1     Tuesday            58662
2   Wednesday            59605
3    Thursday            60809
4      Friday            63339
5    Saturday            70865
6      Sunday            67030

In [247]:
alt.Chart(df_days,title='The busiest days').mark_bar(size=30).encode(
    x=alt.X('name_of_day', title='Days'),
    y=alt.Y('number_of_rents', title='Number of rents'),
    tooltip=[alt.Tooltip('name_of_day', title="Day"), alt.Tooltip('number_of_rents', title="Number of rents")]
).properties(
    width=300,
    height=300
)

alt.Chart(...)